<div class="d-flex align-items-center justify-content-center flex-column" >
<h1>Edit post page</h1>

<%= render 'form' %>
<hr />
<%= link_to 'Back', posts_path,class: 'btn btn-success btn-lg' %>
</div>