/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";
.search {
	margin-left: 20%;
}
.link {
	text-decoration: none;
	margin-right: 1rem;
	color: black;
}
.link:hover {
	color: black;
	font-size: large;
	background-color: white;
}
.profileimage {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}
.card_width {
	max-width: 700px;
}
.comment_input {
	height: 35px;
	width: 100%;
}
.posts_section {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.white-color {
	color: rgb(223, 213, 204);
}
.red-color {
	color: red;
}
.make_form_center {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 768px) {
	.make_form_center {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.card_width {
		max-width: 100%;
	}
}
